// COLORS
$color-primary: #1089ff;
$color-primary-light: #7ed56f;
$color-primary-dark: #23374d;

$color-grey-dark: #e5e5e5;
$color-grey-light: #e5e5e5;
$color-grey-lighter: #eee;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 100rem;
$gutter-vertical: 2rem;
$gutter-vertical-small: 1.5rem;
$gutter-horizontal: 2rem;
$gutter-horizontal-small: 2rem;