doctype html

html(lang="en")
head
  title Data manipulation
body
  if (typeof arr === 'string') && !Number(arr) 
    h1 Wrong Parameter
  else if total && Number(arr)
    h1= total
  else if (typeof arr === 'undefined')
    h1 Lack of Parameter
