doctype html

html(lang="en")
head
  title Data manipulation
body
  if  (typeof arr === 'undefined' || arr === '')
    h2 Lack of Parameter
  else if(typeof arr === 'string') && !Number(arr) 
    h2 Wrong Parameter
  else if total && Number(arr)
    h2= total
